<!--
 | @author xiangqian
 | @date 23:21 2022/12/24
 |-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" rel="external nofollow" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/css/com.css" type="text/css"/>
    <title>
        {{ if gt .rx.Id 0 }}
        {{ Localize "i18n.upd" }}
        {{else}}
        {{ Localize "i18n.add" }}
        {{end}}
        {{ Localize "i18n.rx" }}
    </title>
</head>
<body>

<form action="/rx" method="{{ if gt .rx.Id 0 }}PUT{{else}}POST{{end}}">
    <p style="color: red;">{{ .message }}</p>
    <input type="hidden" name="id" value="{{ .rx.Id }}">
    <div>
        *<label>{{ Localize "i18n.name" }}:</label>
        <input name="name" type="text" value="{{ .rx.Name }}">
    </div>
    <div>
        <label>{{ Localize "i18n.rem" }}:</label>
        <input name="rem" type="text" value="{{ .rx.Rem }}">
    </div>
    <div>
        <input type="submit"
               value='{{ if gt .rx.Id 0 }} {{ Localize "i18n.upd" }} {{else}} {{ Localize "i18n.add" }} {{end}}'>
    </div>
</form>
<br>
<div>
    <a href="/rx/index">{{ Localize "i18n.rx" }}</a>
</div>

{{ template "com/footer.html" . }}

</body>
</html>
<script type="text/javascript" src="/static/js/jquery-3.6.2.min.js"></script>
<script type="text/javascript" src="/static/js/com.js"></script>