<!--
 | @author xiangqian
 | @date 22:26 2022/12/24
 |-->
<!DOCTYPE html>
<!-- url -->
{{ Put . "url" "/rx/index" }}
<html lang="en" url="{{ .url }}">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" rel="external nofollow" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/custom/min.css" type="text/css"/>
    <title>{{ Localize "i18n.rx" }}</title>
</head>
<body>

{{ template "com/header.html" . }}

<content>
    <p style="color: red;">{{ .message }}</p>
    <table border="1" cellspacing="0" cellpadding="10" align="center">
        <thead>
        <tr>
            <td>{{ Localize "i18n.no." }}</td>
            <td>{{ Localize "i18n.name" }}</td>
            <td>{{ Localize "i18n.owner" }}</td>
            <td>{{ Localize "i18n.sharer" }}</td>
            <td>{{ Localize "i18n.shareItemCount" }}</td>
            <td>{{ Localize "i18n.rem" }}</td>
            <td>{{ Localize "i18n.addTime" }}</td>
            <td>{{ Localize "i18n.updTime" }}</td>
            <td>{{ Localize "i18n.code" }}</td>
            <td colspan="3">{{ Localize "i18n.op" }}</td>
        </tr>
        </thead>
        <tbody>
        {{ if .rxs }}
        {{ range $index,$value := .rxs }}
        <tr>
            <td>{{ Add1 $index }}</td>
            <td>{{ $value.Name }}</td>
            <td>{{ if ne $value.OwnerName "" }}{{ $value.OwnerName }}, {{ $value.OwnerNickname }}{{ end }}</td>
            <td>{{ if ne $value.SharerName "" }}{{ $value.SharerName }}, {{ $value.SharerNickname }}{{ end }}</td>
            <td>{{ $value.ShareItemCount }}</td>
            <td>{{ $value.Rem }}</td>
            <td>{{ UnixToTime $value.AddTime }}</td>
            <td>{{ UnixToTime $value.UpdTime }}</td>
            <td><span id="code{{ $value.Id }}" style="display: none">{{ $value.Id }}</span>
                <button name="copy" {{ if ne $value.SharerId 0 }} disabled="disabled" {{ end }}>
                    {{ Localize "i18n.copy" }}
                </button>
            </td>
            <td>
                <a href="/rx/shareitempage?id={{ $value.Id }}">
                    <button>{{ Localize "i18n.shareItem" }}</button>
                </a>
            </td>
            <td>
                <a href="/rx/addpage?id={{ $value.Id }}">
                    <button {{ if ne $value.OwnerId $.user.Id }}disabled="disabled" {{ end }}>
                        {{ Localize "i18n.upd" }}
                    </button>
                </a>
            </td>
            <td>
                <a href="/rx/{{ $value.Id }}" method="DELETE" confirm='{{ Localize "i18n.del" }} {{ $value.Name }}?'>
                    <button>{{ Localize "i18n.del" }}</button>
                </a>
            </td>
        </tr>
        {{ end }}
        {{ else }}
        <tr>
            <td colspan="10">{{ Localize "i18n.noData" }}</td>
        </tr>
        {{ end }}
        </tbody>
    </table>
    <br>
    <br>
    <div>
        <a href="/rx/addpage">{{ Localize "i18n.add" }} →</a>
    </div>
    <br>
    <div>
        <a name="join" href="/rx/join" method="POST">{{ Localize "i18n.join" }} →</a>
    </div>
</content>

{{ template "com/footer.html" . }}

</body>
</html>
<script type="text/javascript" src="/static/jquery-v3.6.2/min.js"></script>
<script type="text/javascript" src="/static/clipboard-v2.0.11/min.js"></script>
<script type="text/javascript" src="/static/custom/min.js"></script>
<script type="text/javascript">
    $('a[name="join"]')[0]['_pre_'] = function () {
        let r = false
        let code = prompt('{{ Localize "i18n.pleaseEnterSharedCode" }}', '')
        if (code && code !== "") {
            code = code.trim()
            r = true
        }
        return [r, {"code": code}]
    }
</script>
<script type="text/javascript">

    function initClipboard() {
        // clipboard
        let clipboard = new ClipboardJS('button[name="copy"]', {
            text: function (elem) {
                let $elem = $(elem)
                let $prev = $elem.prev()
                // console.log($prev)
                return $prev.text();
            },
        });

        clipboard.on('success', function (e) {
            // console.info('Action:', e.action)
            // console.info('Text:', e.text)
            // console.info('Trigger:', e.trigger)
            alert('{{ Localize "i18n.copied" }}')
        });

        clipboard.on('error', function (e) {
            // console.info('Action:', e.action)
            // console.info('Text:', e.text)
            // console.info('Trigger:', e.trigger)
            alert(e)
        });

        window.clipboard = clipboard
    }

    // 销毁 clipboard, 如果存在的话
    if (window.clipboard) {
        window.clipboard.destroy()
        window.clipboard = null
    }
    initClipboard()

</script>