<!--
 | @author xiangqian
 | @date 22:26 2022/12/24
 |-->
<!DOCTYPE html>
<html lang="en" url="/rx/index">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" rel="external nofollow" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/css/com.css" type="text/css"/>
    <title>{{ Localize "i18n.rx" }}</title>
</head>
<body>

<p class="message">{{ .message }}</p>

<table border="1" cellspacing="0" cellpadding="10" align="center">
    <tr>
        <td>{{ Localize "i18n.no." }}</td>
        <td>{{ Localize "i18n.name" }}</td>
        <td>{{ Localize "i18n.owner" }}</td>
        <td>{{ Localize "i18n.sharer" }}</td>
        <td>{{ Localize "i18n.rem" }}</td>
        <td>{{ Localize "i18n.addTime" }}</td>
        <td>{{ Localize "i18n.updTime" }}</td>
        <td>{{ Localize "i18n.code" }}</td>
        <td colspan="2">{{ Localize "i18n.op" }}</td>
    </tr>
    {{ range $index,$value := .rxs }}
    <tr>
        <td>{{ Add1 $index }}</td>
        <td>{{ $value.Name }}</td>
        <td>{{ $value.OwnerName }}</td>
        <td>{{ $value.SharerName }}</td>
        <td>{{ $value.Rem }}</td>
        <td>{{ UnixToTime $value.AddTime }}</td>
        <td>{{ UnixToTime $value.UpdTime }}</td>
        <td>{{ $value.Id }}</td>
        <td><a href="/rx/addpage?id={{ $value.Id }}">{{ Localize "i18n.upd" }}</a></td>
        <td>
            <a href="/rx/{{ $value.Id }}" method="DELETE" confirm='{{ Localize "i18n.del" }} {{ $value.Name }}?'>
                {{ Localize "i18n.del" }}
            </a>
        </td>
    </tr>
    {{ end }}
</table>
<br>
<div>
    <a href="/rx/addpage">{{ Localize "i18n.add" }}</a>
</div>
<br>
<div>
    <a name="join" href="/rx/join" method="POST">{{ Localize "i18n.join" }}</a>
</div>

<br>
<div>
    <a href="/">{{ Localize "i18n.index" }}</a>
</div>

{{ template "com/footer.html" }}

</body>
</html>
<script type="text/javascript" src="/static/js/jquery-3.6.2.min.js"></script>
<script type="text/javascript" src="/static/js/com.js"></script>
<script type="text/javascript">
    $('a[name="join"]')[0]['_pre_'] = function () {
        let r = false
        let code = prompt('{{ Localize "i18n.pleaseEnterSharedCode" }}', '')
        if (code && code !== "") {
            code = code.trim()
            r = true
        }
        return [r, {"code": code}]
    }
</script>
