<!--
 | @author xiangqian
 | @date 22:45 2023/01/04
 |-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" rel="external nofollow" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/custom/min.css" type="text/css"/>
    <title>{{ Localize "i18n.shareItem" }}</title>
</head>
<body>

<content>
    {{ Put . "pageUrl" "/rx/shareitempage" }}
    {{ Put . "colspan" 10 }}
    <p style="color: red;">{{ .message }}</p>
    <table border="1" cellspacing="0" cellpadding="10" align="center">
        <thead>
        <tr>
            <td>{{ Localize "i18n.no." }}</td>
            <td>{{ Localize "i18n.name" }}</td>
            <td>{{ Localize "i18n.rem" }}</td>
            <td>{{ Localize "i18n.addTime" }}</td>
            <td>{{ Localize "i18n.updTime" }}</td>
            <td>{{ Localize "i18n.op" }}</td>
        </tr>
        </thead>
        <tbody>
        {{ $dataLen := len .page.Data }}
        {{ if gt $dataLen 0 }}
        {{ range $index,$value := .page.Data }}
        <tr>
            <td>{{ No $.page.Current $.page.Size $index }}</td>
            <td>{{ $value.Name }}</td>
            <td>{{ $value.Rem }}</td>
            <td>{{ UnixToTime $value.AddTime }}</td>
            <td>{{ UnixToTime $value.UpdTime }}</td>
            <td>
                <a href="/rx/shareitem/{{ $value.RxId }}/{{ $value.Id }}" method="DELETE"
                   confirm='{{ Localize "i18n.del" }} {{ $value.Name }}?'>
                    <button name="copy" {{ if ne $value.OwnerId $.user.Id }}disabled="disabled" {{ end }}>
                        {{ Localize "i18n.del" }}
                    </button>
                </a>
            </td>
        </tr>
        {{ end }}
        {{ else }}
        <tr>
            <td colspan="10">{{ Localize "i18n.noData" }}</td>
        </tr>
        {{ end }}
        </tbody>
        {{ template "com/table_tfoot.html" . }}
    </table>
    <br>
    {{ if eq .rx.OwnerId .user.Id }}
    <br>
    <div>
        <a name="add" href="/rx/shareitem/{{ .rx.Id }}/0" method="POST">{{ Localize "i18n.add" }} →</a>
    </div>
    {{ end }}
    <br>
    <div>
        <a href="/rx/index">{{ Localize "i18n.rx" }} →</a>
    </div>
</content>

{{ template "com/footer.html" . }}

</body>
</html>
<script type="text/javascript" src="/static/jquery-v3.6.2/min.js"></script>
<script type="text/javascript" src="/static/custom/min.js"></script>
<script type="text/javascript">

    ;
    (function () {
        let $add = $('a[name="add"]')
        if ($add.length > 0) {
            $add[0]['_pre_'] = function ($e) {
                // flag判断是否已点击 'Add →'
                let flag = $e.attr('flag')
                if (flag != 1) {
                    let $select = $('<select style="margin-right: 10px"></select>')
                    $select.append('<option value=""></option>')

                    Custom.ajaxJsonData('/rx/notshareitems/{{ .rx.Id }}', 'GET', null, false, function (resp) {
                        let notShareItems = resp.notShareItems
                        // console.log(notShareItems)
                        if (notShareItems) {
                            notShareItems.forEach(notShareItem => {
                                // console.log(notShareItem)
                                $select.append('<option value="' + notShareItem.Id + '">' + notShareItem.Name + '</option>')
                            })
                        }
                    })

                    $e.before($select)
                    $e.html('{{ Localize "i18n.add" }}')
                    $e.attr('flag', 1)
                    return false
                }

                // 获取上一个 select 兄弟节点
                let $select = $e.prev('select')
                // console.log($select)
                // 获取选中的 value 属性值
                let value = $select.find('option:selected').attr('value').trim();
                // console.log(value)
                if (value === "") {
                    // 添加 css border
                    $select.css('border', '2px solid red')
                    return false
                }

                // 删除 css border
                $select.css('border', '')

                let href = $e.attr('href')
                // console.log('href', href)
                let index = href.lastIndexOf('/')
                href = href.substring(0, index + 1) + value
                // console.log('href', href)
                $e.attr('href', href)

                return true
            }
        }
    })()
    ;
</script>