<!--
 | @author xiangqian
 | @date 22:45 2023/01/04
 |-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" rel="external nofollow" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/css/com.css" type="text/css"/>
    <title>{{ Localize "i18n.shareItem" }}</title>
</head>
<body>

<content>
    <table border="1" cellspacing="0" cellpadding="10" align="center">
        <thead>
        <tr>
            <td>{{ Localize "i18n.no." }}</td>
            <td>{{ Localize "i18n.name" }}</td>
            <td>{{ Localize "i18n.rem" }}</td>
            <td>{{ Localize "i18n.addTime" }}</td>
            <td>{{ Localize "i18n.updTime" }}</td>
            <td>{{ Localize "i18n.op" }}</td>
        </tr>
        </thead>
        <tbody>
        {{ if .shareItems }}
        {{ range $index,$value := .shareItems }}
        <tr>
            <td>{{ Add1 $index }}</td>
            <td>{{ $value.Name }}</td>
            <td>{{ $value.Rem }}</td>
            <td>{{ UnixToTime $value.AddTime }}</td>
            <td>{{ UnixToTime $value.UpdTime }}</td>
            <td>
                <a href="/rx/shareitem/{{ $value.Id }}" method="DELETE"
                   confirm='{{ Localize "i18n.del" }} {{ $value.Name }}?'>
                    {{ Localize "i18n.del" }}
                </a>
            </td>
        </tr>
        {{ end }}
        {{ else }}
        <tr>
            <td colspan="10">{{ Localize "i18n.noData" }}</td>
        </tr>
        {{ end }}
        </tbody>
    </table>
    <br>
    <div>
        <a href="/rx/shareitem">{{ Localize "i18n.add" }}</a>
    </div>
    <br>
    <div>
        <a href="/rx/index">{{ Localize "i18n.rx" }}</a>
    </div>
</content>

{{ template "com/footer.html" . }}

</body>
</html>
<script type="text/javascript" src="/static/js/jquery-3.6.2.min.js"></script>
<script type="text/javascript" src="/static/js/com.js"></script>