<!--
 | @author xiangqian
 | @date 21:43 2023/01/07
 |-->
<!DOCTYPE html>
<!-- url -->
{{ Put . "url" "/buildenv/index" }}
<html lang="en" url="{{ .url }}">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" rel="external nofollow" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/custom/min.css" type="text/css"/>
    <title>{{ Localize "i18n.buildEnv" }}</title>
</head>
<body>

{{ template "com/header.html" . }}

<content>
    {{ Put . "pageUrl" "/buildenv/index" }}
    {{ Put . "colspan" 6 }}
    <table border="1" cellspacing="0" cellpadding="10" align="center">
        <thead>
        <tr>
            <td>{{ Localize "i18n.no." }}</td>
            <td>{{ Localize "i18n.value" }}</td>
            <td>{{ Localize "i18n.rem" }}</td>
            <td>{{ Localize "i18n.disable" }}</td>
            <td>{{ Localize "i18n.addTime" }}</td>
            <td>{{ Localize "i18n.updTime" }}</td>
            <td colspan="3">{{ Localize "i18n.op" }}</td>
        </tr>
        </thead>
        <tbody>
        {{ $dataLen := len .page.Data }}
        {{ if gt $dataLen 0 }}
        {{ range $index,$value := .page.Data }}
        <tr>
            <td>{{ No $.page.Current $.page.Size $index }}</td>
            <td>{{ $value.Value }}</td>
            <td>{{ $value.Rem }}</td>
            {{ if eq $value.DisableFlag 0 }}
            <td style="color: green">{{ Localize "i18n.no" }}</td>
            {{ else }}
            <td style="color: red">{{ Localize "i18n.yes" }}</td>
            {{ end }}
            <td>{{ UnixToTime $value.AddTime }}</td>
            <td>{{ UnixToTime $value.UpdTime }}</td>
            <td>
                {{ if eq $value.DisableFlag 0 }}
                <a href="/buildenv/{{ $value.Id }}/disable" method="PUT">
                    <button>{{ Localize "i18n.disable" }}</button>
                </a>
                {{ else }}
                <a href="/buildenv/{{ $value.Id }}/enable" method="PUT">
                    <button>{{ Localize "i18n.enable" }}</button>
                </a>
                {{ end }}
            </td>
            <td>
                <a href="/buildenv/addpage?id={{ $value.Id }}">
                    <button>{{ Localize "i18n.upd" }}</button>
                </a>
            </td>
            <td>
                <a href="/buildenv/{{ $value.Id }}" method="DELETE"
                   confirm='{{ Localize "i18n.del" }} {{ $value.Value }}?'>
                    <button>{{ Localize "i18n.del" }}</button>
                </a>
            </td>
        </tr>
        {{ end }}
        {{ else }}
        <tr>
            <td colspan="{{ .colspan }}">{{ Localize "i18n.noData" }}</td>
        </tr>
        {{ end }}
        </tbody>
        {{ template "com/table_tfoot.html" . }}
    </table>
    <br>
    <br>
    <div>
        <a href="/buildenv/addpage">{{ Localize "i18n.add" }} →</a>
    </div>
</content>

{{ template "com/footer.html" . }}

</body>
</html>
<script type="text/javascript" src="/static/jquery-v3.6.2/min.js"></script>
<script type="text/javascript" src="/static/custom/min.js"></script>