<!--
 | @author xiangqian
 | @date 00:31 2022/12/24
 |-->
{{ define "com/footer.html" }}
<div style="position:absolute; bottom:0px; left: 50%; transform: translate(-50%, -50%); height:60px;">

    <p>© 2022 xiangqian
        <a style="padding-left: 10px" href="https://github.com/xiangqians/auto-deploy-go" target="_blank">
            {{ Localize "i18n.whatIsAutoDeploy" }}
        </a>

        <a style="padding-left: 20px" href="https://github.com/xiangqians/auto-deploy-go" target="_blank">
            {{ Localize "i18n.about" }}
        </a>
    </p>
</div>
{{ end }}