<!--
 | @author xiangqian
 | @date 23:11 2023/01/01
 |-->

<!--
. 访问当前位置的上下文
$ 引用当前模板根级的上下文
$. 引用模板中的根级上下文
-->

{{ define "com/header.html" }}
<header>
    <div style="text-align: right; padding-right: 50px">
        <div style="padding: 4px;">
            <a href="/user/stgpage">{{ .user.Name }}, {{ .user.Nickname }}</a>
        </div>
        <div style="padding: 4px;">
            <a href="/user/logout">{{ Localize "i18n.logout" }}</a>
        </div>
    </div>
    <br>

    <div style="text-align: left; padding-left: 50px;">
        <a name="nav" style="padding: 8px;"
           href="/">{{ Localize "i18n.index" }}</a>
        <a name="nav" style="padding: 8px;"
           href="/git/index">{{ Localize "i18n.git" }}</a>
        <a name="nav" style="padding: 8px;"
           href="/server/index">{{ Localize "i18n.server" }}</a>
        <a name="nav" style="padding: 8px;"
           href="/item/index">{{ Localize "i18n.item" }}</a>
        <a name="nav" style="padding: 8px;"
           href="/rx/index">{{ Localize "i18n.rx" }}</a>
    </div>
    <br>
    <br>
    <script type="text/javascript">
        let html = document.querySelector('html')
        // console.log('html', html)
        let url = html.getAttribute('url')
        // console.log('url', url)
        let navs = document.querySelectorAll('a[name="nav"]')
        // console.log('navs', navs)
        for (let i = 0, length = navs.length; i < length; i++) {
            let nav = navs[i]
            let navUrl = nav.getAttribute("href")
            if (url === navUrl) {
                // console.log('navUrl', navUrl)
                // console.log('navStyle', nav.style)
                nav.style['background-color'] = 'lightgray'
            }
        }
    </script>
</header>
{{ end }}