/**
 * @author xiangqian
 * @date 15:10 2022/12/24
 */
body {
    padding: 20px;
    text-align: center;
}

.message {
    color: red;
}

table thead tr {
    background-color: #EEEEEE;
}

/*
onmouseover: "this.style.backgroundColor='#D3D3D3'";
onmouseout: "this.style.backgroundColor='#FFFFFF'";
 */
table tbody tr:hover {
    background-color: #D3D3D3;
}
