<!--
 | @author xiangqian
 | @date 13:40 2023/01/07
 |-->
<!DOCTYPE html>
<!-- url -->
{{ Put . "url" "/" }}
<html lang="en" url="{{ .url }}">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" rel="external nofollow" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/custom/min.css" type="text/css"/>
    <title>{{ Localize "i18n.index" }}</title>
</head>
<body>

{{ template "com/header.html" . }}

<content>
    <p style="color: red;">{{ .message }}</p>

    <div>
        sudo ?
        <input type="radio"
               name="sudoFlag"
               url="/setting/sudoflag/1"
               method="PUT"
               value="1"
               {{ if eq .setting.SudoFlag 1 }}checked="checked" {{ end }}
               style="margin-left: 10px">{{ Localize "i18n.yes" }}
        <input type="radio"
               name="sudoFlag"
               url="/setting/sudoflag/0"
               method="PUT"
               value="0"
               {{ if eq .setting.SudoFlag 0 }}checked="checked" {{ end }}
               style="margin-left: 10px">{{ Localize "i18n.no" }}
    </div>
    <br>

    <div>
        {{ Localize "i18n.allowReg" }} ?
        <input type="radio"
               name="allowRegFlag"
               url="/setting/allowregflag/1"
               method="PUT"
               value="1"
               {{ if eq .setting.AllowRegFlag 1 }}checked="checked" {{ end }}
               style="margin-left: 10px">{{ Localize "i18n.yes" }}
        <input type="radio"
               name="allowRegFlag"
               url="/setting/allowregflag/0"
               method="PUT"
               value="0"
               {{ if eq .setting.AllowRegFlag 0 }}checked="checked" {{ end }}
               style="margin-left: 10px">{{ Localize "i18n.no" }}
    </div>
    <br>

    <div>
        {{ Localize "i18n.buildLevel" }} ?
        <span title="当build_env空闲时，项目才进行构建（安全级别高）">
        <input type="radio"
               name="buildLevel"
               url="/setting/buildlevel/1"
               method="PUT"
               value="1"
               {{ if eq .setting.BuildLevel 1 }}checked="checked" {{ end }}
               style="margin-left: 10px"/>1
        </span>
        <span title="随机选取一个build_env来构建，无论build_env是否空闲（安全级别低）">
        <input type="radio"
               name="buildLevel"
               url="/setting/buildlevel/2"
               method="PUT"
               value="2"
               {{ if eq .setting.BuildLevel 2 }}checked="checked" {{ end }}
               style="margin-left: 10px"/>2
        </span>
    </div>
</content>

{{ template "com/footer.html" . }}

</body>
</html>
<script type="text/javascript" src="/static/jquery-v3.6.2/min.js"></script>
<script type="text/javascript" src="/static/custom/min.js"></script>