<!--
 | @author xiangqian
 | @date 15:11 2022/12/22
 |-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" rel="external nofollow" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/css/com.css" type="text/css"/>
    <title>
        {{ if gt .git.Id 0 }}
        {{ Localize "i18n.upd" }}
        {{else}}
        {{ Localize "i18n.add" }}
        {{end}}
        {{ Localize "i18n.git" }}
    </title>
</head>
<body>

<form action="/git" method="{{ if gt .git.Id 0 }}PUT{{else}}POST{{end}}">
    <p class="message">{{ .message }}</p>
    <input type="hidden" name="id" value="{{ .git.Id }}">
    <div>
        *<label>{{ Localize "i18n.name" }}:</label>
        <input name="name" type="text" value="{{ .git.Name }}">
    </div>
    <div>
        *<label>{{ Localize "i18n.user" }}:</label>
        <input name="user" type="text" value="{{ .git.User }}">
    </div>
    <div>
        *<label>{{ Localize "i18n.passwd" }}:</label>
        <input name="passwd" type="password">
    </div>
    <div>
        <label>{{ Localize "i18n.rem" }}:</label>
        <input name="rem" type="text" value="{{ .git.Rem }}">
    </div>
    <div>
        <input type="submit"
               value='{{ if gt .git.Id 0 }} {{ Localize "i18n.upd" }} {{else}} {{ Localize "i18n.add" }} {{end}}'>
    </div>
</form>
<br>
<div>
    <a href="/git/index">{{ Localize "i18n.git" }}</a>
</div>

{{ template "com/footer.html" }}

</body>
</html>
<script type="text/javascript" src="/static/js/jquery-3.6.2.min.js"></script>
<script type="text/javascript" src="/static/js/com.js"></script>