<!--
 | @author xiangqian
 | @date 16:07 2022/12/22
 |-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" rel="external nofollow" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/css/com.css" type="text/css"/>
    <title>
        {{ if gt .server.Id 0 }}
        {{ Localize "i18n.upd" }}
        {{else}}
        {{ Localize "i18n.add" }}
        {{end}}
        {{ Localize "i18n.server" }}
    </title>
<body>

<content>
    <form action="/server" method="{{ if gt .server.Id 0 }}PUT{{else}}POST{{end}}">
        <p style="color: red;">{{ .message }}</p>
        <input type="hidden" name="id" value="{{ .server.Id }}">
        <div>
            *<label>{{ Localize "i18n.name" }}:</label>
            <input name="name" type="text" value="{{ .server.Name }}">
        </div>
        <div>
            *<label>{{ Localize "i18n.host" }}:</label>
            <input name="host" type="text" value="{{ .server.Host }}">
        </div>
        <div>
            *<label>{{ Localize "i18n.port" }}:</label>
            <input name="port" type="number" value="{{ if gt .server.Id 0 }}{{ .server.Port }}{{ else }}22{{ end }}">
        </div>
        <div>
            *<label>{{ Localize "i18n.user" }}:</label>
            <input name="user" type="text" value="{{ .server.User }}">
        </div>
        <div>
            *<label>{{ Localize "i18n.passwd" }}:</label>
            <input name="passwd" type="password">
        </div>
        <div>
            <label>{{ Localize "i18n.rem" }}:</label>
            <textarea name="rem" type="text" style="width: 300px; height: 100px">{{ .server.Rem }}</textarea>
        </div>
        <div>
            <input type="submit"
                   value='{{ if gt .server.Id 0 }} {{ Localize "i18n.upd" }} {{else}} {{ Localize "i18n.add" }} {{end}}'>
        </div>
    </form>
    <br>
    <div>
        <a href="/server/index">{{ Localize "i18n.server" }}</a>
    </div>
</content>

{{ template "com/footer.html" . }}

</body>
</html>
<script type="text/javascript" src="/static/js/jquery-3.6.2.min.js"></script>
<script type="text/javascript" src="/static/js/com.js"></script>