<!--
 | @author xiangqian
 | @date 16:07 2022/12/22
 |-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" rel="external nofollow" href="/static/favicon.ico">
    <title>{{ Localize "i18n.add" }} {{ Localize "i18n.server" }}</title></head>
<body>

<form action="/server" method="post">
    <p>{{ .message }}</p>
    <div>
        <label>{{ Localize "i18n.name" }}:</label>
        <input name="name" type="text" value="{{ .name }}">
    </div>
    <div>
        <label>{{ Localize "i18n.host" }}:</label>
        <input name="host" type="text" value="{{ .host }}">
    </div>
    <div>
        <label>{{ Localize "i18n.port" }}:</label>
        <input name="port" type="number" value="{{ .port }}">
    </div>
    <div>
        <label>{{ Localize "i18n.user" }}:</label>
        <input name="user" type="text" value="{{ .user }}">
    </div>
    <div>
        <label>{{ Localize "i18n.passwd" }}:</label>
        <input name="passwd" type="password">
    </div>
    <div>
        <label>{{ Localize "i18n.rem" }}:</label>
        <input name="rem" type="text" value="{{ .rem }}">
    </div>
    <div>
        <input type="submit" value='{{ Localize "i18n.add" }}'>
    </div>
</form>

<div>
    <a href="/server/index">{{ Localize "i18n.server" }}</a>
</div>

</body>
</html>