<!--
 | @author xiangqian
 | @date 15:47 2022/12/22
 |-->
<!DOCTYPE html>
<!-- url -->
{{ Put . "url" "/server/index" }}
<html lang="en" url="{{ .url }}">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" rel="external nofollow" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/custom/min.css" type="text/css"/>
    <title>{{ Localize "i18n.server" }}</title>
</head>
<body>

{{ template "com/header.html" . }}

<content>
    {{ Put . "pageUrl" "/server/index" }}
    {{ Put . "colspan" 11 }}
    <p style="color: red;">{{ .message }}</p>
    <table border="1" cellspacing="0" cellpadding="10" align="center">
        <thead>
        <tr>
            <td>{{ Localize "i18n.no." }}</td>
            <td>{{ Localize "i18n.name" }}</td>
            <td>{{ Localize "i18n.host" }}</td>
            <td>{{ Localize "i18n.port" }}</td>
            <td>{{ Localize "i18n.user" }}</td>
            <td>{{ Localize "i18n.passwd" }}</td>
            <td>{{ Localize "i18n.rem" }}</td>
            <td>{{ Localize "i18n.addTime" }}</td>
            <td>{{ Localize "i18n.updTime" }}</td>
            <td colspan="2">{{ Localize "i18n.op" }}</td>
        </tr>
        </thead>
        <tbody>
        {{ $dataLen := len .page.Data }}
        {{ if gt $dataLen 0 }}
        {{ range $index,$value := .page.Data }}
        <tr>
            <td>{{ No $.page.Current $.page.Size $index }}</td>
            <td>{{ $value.Name }}</td>
            <td>{{ $value.Host }}</td>
            <td>{{ $value.Port }}</td>
            <td>{{ $value.User }}</td>
            <td>******</td>
            <td>{{ $value.Rem }}</td>
            <td>{{ UnixToTime $value.AddTime }}</td>
            <td>{{ UnixToTime $value.UpdTime }}</td>
            <td>
                <a href="/server/addpage?id={{ $value.Id }}">
                    <button>{{ Localize "i18n.upd" }}</button>
                </a>
            </td>
            <td>
                <a href="/server/{{ $value.Id }}" method="DELETE"
                   confirm='{{ Localize "i18n.del" }} {{ $value.Name }}?'>
                    <button>{{ Localize "i18n.del" }}</button>
                </a>
            </td>
        </tr>
        {{ end }}
        {{ else }}
        <tr>
            <td colspan="{{ .colspan }}">{{ Localize "i18n.noData" }}</td>
        </tr>
        {{ end }}
        </tbody>
        {{ template "com/table_tfoot.html" . }}
    </table>
    <br>
    <br>
    <div>
        <a href="/server/addpage">{{ Localize "i18n.add" }} →</a>
    </div>
</content>

{{ template "com/footer.html" . }}

</body>
</html>
<script type="text/javascript" src="/static/jquery-v3.6.2/min.js"></script>
<script type="text/javascript" src="/static/custom/min.js"></script>