<!--
 | @author xiangqian
 | @date 13:40 2023/01/07
 |-->
<!DOCTYPE html>
<!-- url -->
{{ Put . "url" "/" }}
<html lang="en" url="{{ .url }}">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" rel="external nofollow" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/custom/min.css" type="text/css"/>
    <title>{{ Localize "i18n.index" }}</title>
</head>
<body>

{{ template "com/header.html" . }}

<content>
    <p style="color: red;">{{ .message }}</p>
    <table border="1" cellspacing="0" cellpadding="10" align="center">
        <thead>
        <tr>
            <!-- 公共部分 -->
            <td>{{ Localize "i18n.no." }}</td>

            <!-- 差异部分 -->
            <td>{{ Localize "i18n.user" }}</td>
            <td>{{ Localize "i18n.nickname" }}</td>
            <td>{{ Localize "i18n.passwd" }}</td>
            {{ Put . "colspan" 10 }}

            <!-- 公共部分 -->
            <td>{{ Localize "i18n.rem" }}</td>
            <td>{{ Localize "i18n.del" }}</td>
            <td>{{ Localize "i18n.addTime" }}</td>
            <td>{{ Localize "i18n.updTime" }}</td>
            <td colspan="2">{{ Localize "i18n.op" }}</td>
        </tr>
        </thead>
        <tbody>
        {{ $dataLen := len .page.Data }}
        {{ if gt $dataLen 0 }}
        {{ range $index,$value := .page.Data }}
        <tr>
            <!-- 公共部分 -->
            <td>{{ Add1 $index }}</td>

            <!-- 差异部分 -->
            {{ $name := $value.Name }}
            <td>{{ $value.Name }}</td>
            <td>{{ $value.Nickname }}</td>
            <td>******</td>

            <!-- 公共部分 -->
            <td>{{ $value.Rem }}</td>
            {{ if eq $value.DelFlag 0 }}
            <td style="color: green">{{ Localize "i18n.no" }}</td>
            {{ else }}
            <td style="color: red">{{ Localize "i18n.yes" }}</td>
            {{ end }}
            <td>{{ UnixToTime $value.AddTime }}</td>
            <td>{{ UnixToTime $value.UpdTime }}</td>
            <td>
                {{ if eq $value.DelFlag 0 }}
                <a href="/t/{{ $value.Id }}/del" method="DELETE"
                   confirm='{{ Localize "i18n.del" }} {{ $name }}?'>
                    <button>{{ Localize "i18n.del" }}</button>
                </a>
                {{ else }}
                <a href="/t/{{ $value.Id }}/restore" method="PUT"
                   confirm='{{ Localize "i18n.restore" }} {{ $name }}?'>
                    <button>{{ Localize "i18n.restore" }}</button>
                </a>
                {{ end }}
            </td>
            <td>
                <a href="/t/{{ $value.Id }}/permanentlyDel" method="DELETE"
                   confirm='{{ Localize "i18n.permanentlyDel" }} {{ $name }}?'>
                    <button>{{ Localize "i18n.permanentlyDel" }}</button>
                </a>
            </td>
        </tr>
        {{ end }}
        {{ else }}
        <tr>
            <td colspan="{{ .colspan }}">{{ Localize "i18n.noData" }}</td>
        </tr>
        {{ end }}
        </tbody>
        {{ template "com/table_tfoot.html" . }}
    </table>
</content>

{{ template "com/footer.html" . }}

</body>
</html>
<script type="text/javascript" src="/static/jquery-v3.6.2/min.js"></script>
<script type="text/javascript" src="/static/custom/min.js"></script>