<!--
 | @author xiangqian
 | @date 18:46 2022/12/18
 |-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" rel="external nofollow" href="/static/favicon.ico">
    <title>{{ Localize "i18n.index" }}</title>
</head>
<body>

<!--
. 访问当前位置的上下文
$ 引用当前模板根级的上下文
$. 引用模板中的根级上下文
-->

<div>
    <a href="/user/stgpage">{{ .user.Name }}, {{ .user.Nickname }}</a>
    <br>
    <a href="/user/logout">{{ Localize "i18n.logout" }}</a>
</div>

<hr>
<br>

<div>
    <a href="/git/index">{{ Localize "i18n.git" }}</a>
    <br>
    <a href="/server/index">{{ Localize "i18n.server" }}</a>
    <br>
    <a href="/item/index">{{ Localize "i18n.item" }}</a>
</div>

<br>
<br>

<table>
    <tr>
        <td>{{ Localize "i18n.id" }}</td>
        <!-- 鼠标悬停在此标签上时，title = item rem -->
        <td>{{ Localize "i18n.name" }}</td>
        <td>{{ Localize "i18n.stageView" }}</td>
        <!-- 鼠标悬停在此标签上时，title = lastRevMessage -->
        <td>{{ Localize "i18n.lastDeployTime" }}</td>
        <td>{{ Localize "i18n.rem" }}</td>
        <td>{{ Localize "i18n.createTime" }}</td>
        <td>{{ Localize "i18n.updateTime" }}</td>
    </tr>
    {{ range $index,$value := .items1 }}
    <tr>
        <td>{{ $value.Id }}</td>
        <td>{{ $value.Name }}</td>
        <td>-</td>
        <td>-</td>
        <td>{{ $value.Rem }}</td>
        <td>{{ $value.CreateTime }}</td>
        <td>{{ $value.UpdateTime }}</td>
    </tr>
    {{ end }}
</table>

</body>
</html>