<!--
 | @author xiangqian
 | @date 18:46 2022/12/18
 |-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" rel="external nofollow" href="/static/favicon.ico">
    <title>{{ Localize "i18n.index" }}</title>
</head>
<body>

<div>
    <a href="/user/stgpage">{{ .username }}, {{ .nickname }}</a>
    <br>
    <a href="/user/logout">{{ Localize "i18n.logout" }}</a>
</div>

<div>
    <table>
        <tr>
            <!-- 鼠标悬停在此标签上时，title = itemDesc -->
            <td>itemName</td>

            <td>stageView</td>

            <!-- 鼠标悬停在此标签上时，title = lastRevMessage -->
            <td>lastDeployTime</td>
        </tr>
        <tr>
            <td><a href="">Proj</a></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</div>

<!--
1、选中 item 时，右划出左侧栏：配置、部署、日志
2、选中日志时，
-->

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<div><a href="https://github.com/xiangqians/auto-deploy-go" target="_blank">{{ Localize "i18n.about" }}</a></div>
</body>
</html>