<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ Localize "login" }}</title>
</head>
<body>

<form action="/user/login" method="post">
    <p>{{ .message }}</p>
    <div>
        <label for="name">{{ Localize "username" }}:</label>
        <input id="name" name="name" type="text" value="{{ .username }}">
    </div>
    <div>
        <label for="passwd">{{ Localize "password" }}:</label>
        <input id="passwd" name="passwd" type="password">
    </div>
    <div>
        <input type="submit" value='{{ Localize "login" }}'>
    </div>
</form>

</body>
</html>

<script>
</script>