<!--
 | @author xiangqian
 | @date 18:53 2022/12/22
 |-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" rel="external nofollow" href="/static/favicon.ico">
    <title>{{ Localize "i18n.add" }}{{ Localize "i18n.item" }}</title>
</head>
<body>

<form action="/item" method="post">
    <p>{{ .message }}</p>
    <div>
        <label>{{ Localize "i18n.name" }}:</label>
        <input name="name" type="text" value="{{ .item.Name }}">
    </div>
    <div>
        <label>{{ Localize "i18n.git" }}:</label>
        <input name="gitId" type="text" value="{{ .item.GitId }}">
    </div>
    <div>
        <label>{{ Localize "i18n.repoUrl" }}:</label>
        <input name="repoUrl" type="text" value="{{ .item.RepoUrl }}">
    </div>
    <div>
        <label>{{ Localize "i18n.branch" }}:</label>
        <input name="branch" type="text" value="{{ .item.Branch }}">
    </div>
    <div>
        <label>{{ Localize "i18n.server" }}:</label>
        <input name="serverId" type="text" value="{{ .item.ServerId }}">
    </div>
    <div>
        <label>{{ Localize "i18n.cmd" }}:</label>
        <input name="cmd" type="text" value="{{ .item.Cmd }}">
    </div>
    <div>
        <label>{{ Localize "i18n.ini" }}:</label>
        <input name="ini" type="text" value="{{ .item.ini }}">
    </div>
    <div>
        <label>{{ Localize "i18n.rem" }}:</label>
        <input name="rem" type="text" value="{{ .item.Rem }}">
    </div>
    <div>
        <input type="submit" value='{{ Localize "i18n.add" }}'>
    </div>
</form>

<div>
    <a href="/item/index">{{ Localize "i18n.index" }}</a>
</div>

</body>
</html>