<!--
 | @author xiangqian
 | @date 13:48 2022/12/23
 |-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" rel="external nofollow" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/css/test.css" type="text/css"/>
    <title>{{ Localize "i18n.item" }}</title></head>
<body>
<span name="_url_" class="display: none;" url="/item/index"></span>

<table border="1" cellspacing="0" cellpadding="10" align="center">
    <tr>
        <td>{{ Localize "i18n.no." }}</td>
        <td>{{ Localize "i18n.name" }}</td>
        <td>{{ Localize "i18n.git" }}</td>
        <td>{{ Localize "i18n.repoUrl" }}</td>
        <td>{{ Localize "i18n.branch" }}</td>
        <td>{{ Localize "i18n.server" }}</td>
        <td>{{ Localize "i18n.rem" }}</td>
        <td>{{ Localize "i18n.createTime" }}</td>
        <td>{{ Localize "i18n.updateTime" }}</td>
        <td colspan="2">{{ Localize "i18n.op" }}</td>
    </tr>
    {{ range $index,$value := .items }}
    <tr>
        <td>{{ Add1 $index }}</td>
        <td>{{ $value.Name }}</td>
        <td>{{ $value.GitName }}</td>
        <td>{{ $value.RepoUrl }}</td>
        <td>{{ $value.Branch }}</td>
        <td>{{ $value.ServerName }}</td>
        <td>{{ $value.Rem }}</td>
        <td>{{ UnixToTime $value.CreateTime }}</td>
        <td>{{ UnixToTime $value.UpdateTime }}</td>
        <td><a href="/item/addpage?id={{ $value.Id }}">{{ Localize "i18n.upd" }}</a></td>
        <td>
            <a href="/item/{{ $value.Id }}" method="DELETE" message='{{ Localize "i18n.del" }} {{ $value.Name }}?'>
                {{ Localize "i18n.del" }}
            </a>
        </td>
    </tr>
    {{ end }}
</table>
<br>
<div>
    <a href="/item/addpage">{{ Localize "i18n.add" }}</a>
</div>

<br>
<div>
    <a href="/">{{ Localize "i18n.index" }}</a>
</div>

{{ template "com/footer.html" }}

</body>
</html>
<script type="text/javascript" src="/static/js/jquery-3.6.2.min.js"></script>
<script type="text/javascript" src="/static/js/a.js"></script>