<!--
 | @author xiangqian
 | @date 19:15 2022/12/18
 |-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" rel="external nofollow" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/css/com.css" type="text/css"/>
    <title>{{ Localize "i18n.loginTitle" }}</title>
</head>
<body>

<form action="/user/login" method="post">
    <p>{{ .message }}</p>
    <div>
        *<label for="name">{{ Localize "i18n.user" }}</label>
        <input id="name" name="name" type="text" value="{{ .username }}">
    </div>
    <div>
        *<label for="passwd">{{ Localize "i18n.passwd" }}</label>
        <input id="passwd" name="passwd" type="password">
    </div>
    <div>
        <input type="submit" value='{{ Localize "i18n.login" }}'>
    </div>

    <br>
    <div>
        {{ Localize "i18n.newToAutoDeploy" }} <a href="/user/regpage">{{ Localize "i18n.createAnAccount" }}</a>
    </div>
</form>


{{ template "com/footer.html" }}

</body>
</html>