<!--
 | @author xiangqian
 | @date 11:26 2022/12/19
 |-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" rel="external nofollow" href="/static/favicon.ico">
    <title>{{ Localize "i18n.regTitle" }}</title>
</head>
<body>

<form action="/user/reg" method="post">
    <p>{{ .message }}</p>
    <div>
        <label for="name">{{ Localize "i18n.user" }}:</label>
        <input id="name" name="name" type="text" value="{{ .username }}">
    </div>
    <div>
        <label for="nickname">{{ Localize "i18n.nickname" }}:</label>
        <input id="nickname" name="nickname" type="text" value="{{ .nickname }}">
    </div>
    <div>
        <label for="passwd">{{ Localize "i18n.passwd" }}:</label>
        <input id="passwd" name="passwd" type="password">
    </div>
    <div>
        <input type="submit" value='{{ Localize "i18n.reg" }}'>
    </div>
</form>

</body>
</html>